!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= @page_title
    - if @page_refresh
      = "<meta http-equiv='refresh' content='#{@page_refresh}'/>"
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <meta name="apple-touch-fullscreen" content="YES" />
    = include_iui_files
    %style{:type=>'text/css'}
      = yield(:page_style)

  %body
    = yield
