%html
  %head
    %title= @page_title
    - if @page_refresh
      = "<meta http-equiv='refresh' content='#{@page_refresh}'/>"
    = javascript_include_tag "prototype", "effects"
    %style{:type=>'text/css'}
      :sass
        table
          :border 3px solid #cccccc
        th
          :background-color #cccccc
        td
          :border-bottom 1px dotted #ccccff
          :border-left   1px solid #ccccff
          :padding       0 3px
          :font-size     0.9em
        tr
          :border-bottom 1px solid
        a:link
          :text-decoration none
        a:hover
          :text-decoration underline
          :color red
        .l_direct
        .l_indirect
          :color #338f42
          :font-style italic
        .cursong
          :border  3px double #88ccff
          :margin  5px 0
          :padding 3px
        .hozlist
          li
            :display         inline
            :list-style-type none
            :padding         3px 10px
        .disable
          td
            :color #ccc
            a
              :color #ccc
        .message
          :position         absolute
          :left             100px
          :top              100px
          :padding          20px
          :border           3px solid
        .error
          :background-color #f88
        .warning
          :background-color #ff8
        .info
          :background-color #8ff

      = @content_for_page_style

  %body
    - flash.each do |key, msg|
      %div{:class=>[key, 'message'], :id=>"notice_#{key}"}= msg
      %script{:type=>"text/javascript"}
        setTimeout("new Effect.Fade('notice_#{key}');", 1500)
    = yield
