:javascript
  function reload_all() {
    window.location.reload();
    parent.search.window.location.reload();
  }
%ul.hozlist
  %li= link_to('Rewind', {:action=>:command, :id=>'rewind'}, :remote=>true)
  %li= link_to('Previous', :action=>:command, :id=>'previous')
  %li= link_to('Pause', {:action=>:command, :id=>'pause'}, :remote=>true)
  %li= link_to('Next', :action=>:command, :id=>'next')
  %li= link_to('Voice', {:action=>:command, :id=>'voice'}, :remote=>true)
  %li= link_to('Karaoke', :url=>{:action=>:command, :id=>'karaoke'}, :remote=>true)
  %li= link_to('Reload', {:action=>:command, :id=>'reload'}, :remote==>true)
  %li= link_to('Admin', {:action=>:command, :id=>'admin'}, :target=>'search')
  %li= link_to('Clear', {:action=>:command, :id=>'clear'}, {:confirm=>'Clear list.  Are you sure?'})
  %li= link_to('Clap', {:action=>:command, :id=>'clap'}, :remote=>true)
  %li= link_to_function('Refresh', "reload_all()")
