- wset = []
%ul
  - @playlist.songs.each_with_index do |song, index|
    - item = MenuEntry.new("#{song.song} - #{song.artist}", "#song#{index}")
    - wset << item
= iui_list wset

- @playlist.songs.each_with_index do |song, index|
  %ul{:id=>"song#{index}", :title=>song.song}
    %li.group= "#{song.id}: #{song.song} - #{song.artist}"
    %li= link_to("Play '#{song.song}' now", :action=>:play_in_queue, :id=>song.id)

