.cursong
  <b>ID</b>: #{cursong.id}
  | <b>Song</b>: #{cursong.song}
  | <b>Artist</b>: #{cursong.artist}
  | <b>Rating</b>: #{cursong.rate}
  | <b>Position</b>: #{@playlist.curplay}
  | <b>Counts</b>: #{cursong.playcount}
  | <b>Size</b>: #{cursong.size}#{cursong.ksel}
  | <b>Last Played</b>: #{Time.at(cursong.lastplayed || 0).strftime('%m/%d/%y')}
  | <b>Tag</b>: #{cursong.tag}
  - if cursong.lyric
    | <b>Author</b>: #{cursong.lyric.author}
