- author = song.lyric ? song.lyric.author : ""
- if role == :search
  %td.playnow= link_to_remote(song.id, :url=>{:action=>:command, :id=>:play_now, :item=>song.id}, :html=>{:title=>"Play #{song.song}"})
  %td.playqueue= link_to_remote(song.song, :url=>{:action=>:queue, :id=>song.id}, :html=>{:title=>"Queue #{song.song}"})
- else
  %td= song.id
  %td.playnow= link_to(song.song, {:action=>:search, :id=>song.id, :item=>rcount, :ptn=>song.song}, :target=>'search')
%td= link_to(song.artist, {:action=>:search, :ptn=>song.artist}, :target=>'search')
%td= link_to(author, {:action=>:search, :ptn=>"author=#{author}"}, :target=>'search')
%td= "&nbsp;" + "*****"[0, song.rate.to_i]
%td= song.tag ? link_to(song.tag, {:action=>:search, :ptn=>"tag=#{song.tag}"}, :target=>'search') : "&nbsp;"
%td= song.lastplayed ? Time.at(song.lastplayed).strftime("%m/%d/%y") : "&nbsp;"
- lyrics = song.lyrics
- if song.lyric
  - if lyrics
    - lyrics = link_to_remote("(---)", :url=>{:action=>:command, :id=>:kill_lyrics, :item=>song.id}) + lyrics
    - lclass = 'l_direct'
  - else
    - lyrics = song.lyric.abcontent || ""
    - lclass = 'l_indirect'
  - lyrics += " " + link_to("[...]", {:action=>:lyrics, :id=>song.id}, :target=>'lyrics')
- else
  - lclass = 'l_direct'
%td{:class=>lclass}= lyrics || "&nbsp;"
