:javascript
  function alertmsg(evtobj){
    var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
    var actualkey=String.fromCharCode(unicode)
    //alert(actualkey);
    if ((actualkey=="n") || (actualkey=="j")) {
      document.location = "/karaoke/command/next";
    } else if ((actualkey=="p") || (actualkey == "k")) {
      document.location = "/karaoke/command/previous";
    }
  }
  document.onkeypress=alertmsg

- content_for "page_style" do
  :sass
    #float_tool
      :position fixed
      :left 1%
      :width 98%
      :bottom  0px
      :background-color #cccccc
      :border-top 2px solid
    .hozlist
      li
        :border          1px solid #aaaaaa
    #body
      :background-color #111
    #td
      :color #cc8

#float_tool
  %center= render(:partial=>'toolbar', :object=>{:role=>'monitor'})
  - if csong = @playlist.current_song
    = render(:partial=>'cursong', :object=>csong)

%table
  %tr
    %th
    %th Rec
    %th Song
    %th Artist
    %th Author
    %th Rating
    %th Tag
    %th Lyrics
  - rcount = 0
  - curplay = @playlist.curplay
  - @playlist.songs.each_with_index do |arec, index|
    - rtype = (rcount == curplay) ? "#ccccff" : ""
    - rclass, symbol = (@playlist.pl_songs[index].state == 1) ? ["disable", "+"] : ["", "-"]
    %tr{:class=>rclass, :id=>"row_#{rcount}",:bgcolor=>rtype}
      %td= link_to("#{symbol}", {:action=>'command', :id=>'toggle_state', :item=>index})
      = render(:partial=>'song', :object=>arec, :locals=>{:rcount=>rcount, :role=>:monitor})
    - rcount += 1
%script
  $("row_#{curplay}").scrollTo();
%div{:style=>'height:100'}
