:javascript
  function alertmsg(evtobj){
    var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
    var actualkey=String.fromCharCode(unicode)
    //alert(actualkey);
    if ((actualkey=="n") || (actualkey=="j")) {
      document.location = "/karaoke/rcommand/next";
    } else if ((actualkey=="p") || (actualkey == "k")) {
      document.location = "/karaoke/rcommand/previous";
    }
  }
  document.onkeypress=alertmsg

- content_for "page_style" do
  :sass
    table
      :border 3px solid #cccccc
    th
      :background-color #cccccc
    td
      :border-bottom 1px solid
    tr
      :border-bottom 1px solid

- if csong = @playlist.current_song
  = render(:partial=>'cursong', :object=>csong)

= render(:partial=>'toolbar')

%table
  %tr
    %th Rec
    %th Song
    %th Artist
    %th Author
    %th Rating
    %th Tag
    %th Played
    %th Lyrics
  - rcount = 0
  - curplay = @playlist.curplay
  - @playlist.songs.each do |arec|
    - rtype = (rcount == curplay) ? "#ccccff" : ""
    - author = arec.lyric ? arec.lyric.author : ""
    %tr{:id=>"row_#{rcount}",:bgcolor=>rtype}
      %td= arec.id
      %td= link_to(arec.song, {:action=>:search, :id=>arec.id, :item=>rcount, :ptn=>arec.song}, :target=>'search')
      %td= link_to(arec.artist, {:action=>:search, :ptn=>arec.artist}, :target=>'search')
      %td= link_to(author, {:action=>:search, :ptn=>"author=#{author}"}, :target=>'search')
      %td= "&nbsp;" + "*****"[0, arec.rate.to_i]
      %td= arec.tag ? link_to(arec.tag, :action=>:search, :ptn=>"tag=#{arec.tag}") : "&nbsp;"
      %td= arec.lastplayed ? Time.at(arec.lastplayed).strftime("%m/%d/%y") : "&nbsp;"
      - lyrics = arec.lyrics
      - if arec.lyric
        - unless lyrics
          - lyrics = arec.lyric.abcontent || ""
        - lyrics += " " + link_to("[...]", {:action=>:lyrics, :id=>arec.id}, :target=>'lyrics')
      %td= lyrics || "&nbsp;"
    - rcount += 1
%script
  $("row_#{curplay}").scrollTo();

