:javascript
  function alertmsg(evtobj){
    var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
    var actualkey=String.fromCharCode(unicode)
    //alert(actualkey);
    if ((actualkey=="n") || (actualkey=="j")) {
      document.location = "/karaoke/rcommand/next";
    } else if ((actualkey=="p") || (actualkey == "k")) {
      document.location = "/karaoke/rcommand/previous";
    }
  }
  document.onkeypress=alertmsg

- content_for "page_style" do
  :sass
    table
      :border 3px solid #cccccc
    th
      :background-color #cccccc
    td
      :border-bottom 1px solid
    tr
      :border-bottom 1px solid
    .l_direct
    .l_indirect
      :color #338f42
      :font-style italic

- if csong = @playlist.current_song
  = render(:partial=>'cursong', :object=>csong)

= render(:partial=>'toolbar', :object=>{:role=>'monitor'})

%table
  %tr
    %th Rec
    %th Song
    %th Artist
    %th Author
    %th Rating
    %th Tag
    %th Played
    %th Lyrics
  - rcount = 0
  - curplay = @playlist.curplay
  - @playlist.songs.each do |arec|
    - rtype = (rcount == curplay) ? "#ccccff" : ""
    %tr{:id=>"row_#{rcount}",:bgcolor=>rtype}
      = render(:partial=>'song', :object=>arec, :locals=>{:rcount=>rcount, :role=>:monitor})
    - rcount += 1
%script
  $("row_#{curplay}").scrollTo();

