:javascript
  function alertmsg(evtobj){
    var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
    var actualkey=String.fromCharCode(unicode)
    //alert(actualkey);
    if ((actualkey=="n") || (actualkey=="j")) {
      document.location = "/karaoke/command/next";
    } else if ((actualkey=="p") || (actualkey == "k")) {
      document.location = "/karaoke/command/previous";
    }
  }
  document.onkeypress=alertmsg

- content_for "page_style" do
  :sass
    table
      :border 3px solid #cccccc
    th
      :background-color #cccccc
    td
      :border-bottom 1px solid
    tr
      :border-bottom 1px solid
    .l_direct
    .l_indirect
      :color #338f42
      :font-style italic
    #float_tool
      :position fixed
      :left 1%
      :width 98%
      :top  10px
      :background-color #cccccc
    .hozlist
      :padding 0 1em
      li
        :display inline
        :list-style-type none
        :padding 3px 10px
        :border 2px solid #ffff00

#float_tool
  %center= render(:partial=>'toolbar', :object=>{:role=>'monitor'})
  - if csong = @playlist.current_song
    = render(:partial=>'cursong', :object=>csong)

%div{:style=>'height:85px'}

%table
  %tr
    %th Rec
    %th Song
    %th Artist
    %th Author
    %th Rating
    %th Tag
    %th Played
    %th Lyrics
  - rcount = 0
  - curplay = @playlist.curplay
  - @playlist.songs.each do |arec|
    - rtype = (rcount == curplay) ? "#ccccff" : ""
    %tr{:id=>"row_#{rcount}",:bgcolor=>rtype}
      = render(:partial=>'song', :object=>arec, :locals=>{:rcount=>rcount, :role=>:monitor})
    - rcount += 1
%script
  $("row_#{curplay}").scrollTo();

