- content_for "page_style" do
  :sass
    body
      :background-color #dddddd
    #float_tool
      :position         fixed
      :left             1%
      :width            98%
      :top              0px
      :padding-top      5px
      :background-color #cccccc
      :border-bottom    2px solid

#float_tool
  %form{:action=>'/karaoke/search'}
    <b>Songs</b>:
    = select_tag("alphabet", options_for_select(['', '0'] + ('A'..'Z').to_a), :onchange=>'form.submit();')
    <b>Artist</b>:
    = select_tag("artist", options_for_select([''] + Song.all_artists), :onchange=>'form.submit();')
    <b>Author</b>:
    = select_tag("author", options_for_select([''] + Lyric.all_authors), :onchange=>'form.submit();')
    <b>Tag</b>:
    = select_tag("tag", options_for_select(['']  + Song.all_tags), :onchange=>'form.submit();')
    %input{:type=>'text', :name=>'ptn', :size=>40, :value=>@ptn}
    %button Search

  - if session[:admin]
    %form{:action=>'/karaoke/cli'}
      - csid = (@cursong ? @cursong.id : 0)
      %b= "Evaluate #{csid}:"
      %input{:type=>'hidden', :name=>'cid', :value=>csid}
      %input{:type=>'text', :name=>'command', :size=>80}

- if session[:admin]
  %div{:style=>'height:80'}
- else
  %div{:style=>'height:40'}

%form{:action=>'mqueue', :ptn2=>@ptn}
  %input{:type=>'hidden', :name=>'ptn', :value=>@ptn}
  %b Reset List:
  %input{:type=>'checkbox', :name=>'clean'}
  %input{:type=>:submit, :name=>'submit', :value=>'Add'}
  %input{:type=>:submit, :name=>'submit', :value=>'Add All'}
  %table{:width=>'100%'}
    - rcount = 0
    - @records.each do |arec|
      %tr
        %td
          %input{:type=>'checkbox', :name=>"rec_#{arec.id}", :value=>1}
        = render(:partial=>'song', :object=>arec, :locals=>{:rcount=>rcount, :role=>:search})
        - rcount += 1

