- content_for :page_style do
  :sass
    body
      :background-color #dddddd
    #float_tool
      :position         fixed
      :left             0%
      :width            100%
      :top              0px
      :padding          5px 15px 5px 15px
      :background-color #cccccc
      :border-bottom    1px dotted
      :font-size        .8em
    form.small_form
      :font-size .9em
      :color     #333333
      select
        :font-size .9em
        :background-color #ccffcc
        option
          :font-size .9em
          :background-color #ccffcc
      input
        :background-color #ccffcc

#float_tool
  %form.small_form{:action=>'/karaoke/search'}
    <b>Songs</b>:
    = select_tag("alphabet", options_for_select(['', '0'] + ('A'..'Z').to_a), :onchange=>'form.submit();')
    <b>Artist</b>:
    = select_tag("artist", options_for_select([''] + Song.all_artists), :onchange=>'form.submit();')
    <b>Author</b>:
    = select_tag("author", options_for_select([''] + Lyric.all_authors), :onchange=>'form.submit();')
    <b>Tag</b>:
    = select_tag("tag", options_for_select(['']  + Song.all_tags), :onchange=>'form.submit();')
    %input{:type=>'text', :name=>'ptn', :size=>40, :value=>@ptn}
    %button Search

  - if session[:admin]
    %form.small_form{:action=>'/karaoke/cli'}
      - csid = (@cursong ? @cursong.id : 0)
      %b= "Evaluate #{csid}:"
      %input{:type=>'hidden', :name=>'cid', :value=>csid}
      %input{:type=>'text', :name=>'command', :size=>80}

- if session[:admin]
  %div{:style=>'height:80'}
- else
  %div{:style=>'height:40'}

%form{:action=>'/karaoke/mqueue', :ptn2=>@ptn}
  %input{:type=>'hidden', :name=>'ptn', :value=>@ptn}
  %b Reset List:
  %input{:type=>'checkbox', :name=>'clean'}
  %b Shuffle:
  %input{:type=>'checkbox', :name=>'shuffle'}
  %input{:type=>:submit, :name=>'submit', :value=>'Add'}
  %input{:type=>:submit, :name=>'submit', :value=>'Add All'}
  - if session[:admin]
    %input{:type=>:submit, :name=>'submit', :value=>'Delete'}
  %table{:width=>'100%'}
    - rcount = 0
    %tr
      %td
      %th ID
      %th Song
      %th Artist
      %th Author
      %th Rate
      %th Tag
      %th Size
      %td
      %th Played
      %th Added
      %td
      %th Lyric
    - @records.each do |arec|
      %tr
        %td
          %input{:type=>'checkbox', :name=>"rec_#{arec.id}", :value=>1}
        = render(:partial=>'song', :object=>arec, :locals=>{:rcount=>rcount, :role=>:search})
        - rcount += 1

