- content_for :page_style do
  :sass
    .hozlist
      li
        :line-height 1.5em
    .artlink
      :color #cc0
      :font-size 0.8em
      a
        :color #48c
    body
      :background-color #113
      :color #ccc
    a
      :color #ee8
    a:hover
      :text-decoration underline
      :color red
    #float_menu
      :position         fixed
      :right            0%
      :width            15px
      :top              0px
      :padding          3px
      :border           1px dotted
      :background-color #663

- cache(:admin=>session[:admin]) do
  - lkeys = @lygroup.keys.sort
  #float_menu
    - lkeys.each do |achar|
      = link_to(achar, "##{achar}")
      %br/
    = link_to("?", "")
  - lkeys.each do |grname|
    - namelist = @lygroup[grname]
    %a{:name=>grname}
      %div
    - namelist.keys.sort_by{|a| a.downcase}.each do |name|
      - songs = namelist[name]
      - s0    = songs.first
      %br/
      - if s0.lyric
        = link_to(s0.song, {:action=>:lyrics, :lid=>s0.lyric.id}, {:target=>'lyrics'})
      - else
        = s0.song
      %span.artlink
        = ": "
        - songs.map do |s|
          - saname = s.artist.empty? ? "unknown" : s.artist
          = link_to("[#{saname}]", {:action=>:queue, :id=>s.id}, {:target=>'monitor', :title=>"Queue #{s0.song}"})
          - if session[:admin]
            = link_to_remote("x", :url=>{:action=>:command, :id=>:delfile, :item=>s.id}, :confirm=>"Deleting #{s.song}.  Are you sure?")
